# HomeWork Assignment 4: Fine Tuning IMDB Using BERT, XLNet, RoBERTa, and DistilBERT

## BERT Fine Tuning
- 필요한 liabrary 불러오기

In [1]:
from transformers import BertTokenizer, BertModel

In [2]:
import pandas as pd

In [3]:
from IPython.display import clear_output

In [ ]:
random.seed(321)
np.random.seed(321)
torch.manual_seed(321)
torch.cuda.manual_seed(321)

## Prepare the Data

- BertTokenizer를 쓰는 경우
- XLNET, RoBERTa, DistilBERT에서는 각각 자기 모델에 맞는 tokenizer를 불러와야 함

In [4]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased', do_lower_case=True)

- tokenizer test

In [5]:
tokenizer.tokenize('Hi my name is Dima')

['hi', 'my', 'name', 'is', 'dim', '##a']

- 데이터 파일 imdb_master.csv 불러오기

In [6]:
df = pd.read_csv('imdb_master.csv', encoding='latin-1')

In [7]:
df.head()

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt

In [8]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df.drop(['file'], axis = 1, inplace = True)

In [9]:
df.head()

   type                                             review label
0  test  Once again Mr. Costner has dragged out a movie...   neg
1  test  This is an example of why the majority of acti...   neg
2  test  First of all I hate those moronic rappers, who...   neg
3  test  Not even the Beatles could write songs everyon...   neg
4  test  Brass pictures (movies is not a fitting word f...   neg

- train, test 용으로 각각 2000, 200개의 데이터만 가져옴

In [10]:
train_df = df[df['type'] == 'train'][:1000].append(df[df['type'] == 'train'][-1000:])
test_df = df[df['type'] =='test'][:100].append(df[df['type'] =='test'][-100:])

In [11]:
print(train_df.shape)
print(test_df.shape)

(2000, 3)
(200, 3)

- 'review', 'label'을 각각 추출

In [14]:
train_texts = train_df['review'].tolist()
test_texts = test_df['review'].tolist()

In [15]:
train_labels = train_df['label']
test_labels = test_df['label']

In [16]:
train_texts[0]

"Story of a man who has unnatural feelings for a pig. Starts out with a opening scene that is a terrific example of absurd comedy. A formal orchestra audience is turned into an insane, violent mob by the crazy chantings of it's singers. Unfortunately it stays absurd the WHOLE time with no general narrative eventually making it just too off putting. Even those from the era should be turned off. The cryptic dialogue would make Shakespeare seem easy to a third grader. On a technical level it's better than you might think with some good cinematography by future great Vilmos Zsigmond. Future stars Sally Kirkland and Frederic Forrest can be seen briefly."

In [17]:
print(len(train_texts), len(test_texts))
print(len(train_labels), len(test_labels))

2000 200
2000 200

In [18]:
train_labels

25000      neg
25001      neg
25002      neg
25003      neg
25004      neg
         ...
99995    unsup
99996    unsup
99997    unsup
99998    unsup
99999    unsup
Name: label, Length: 2000, dtype: object

- 최대 입력문장 길이를 512로 하기 때문에 여기에 맞춰 train_texts의 자료에 각 [CLS] [SEP]를 앞뒤에 붙여서 train_tokens와 test_tokens를 완성

In [ ]:
train_tokens = list(map(lambda t: ['[CLS]'] + tokenizer.tokenize(t)[:510] + ['[SEP]'], train_texts))
test_tokens = list(map(lambda t: ['[CLS]'] + tokenizer.tokenize(t)[:510] + ['[SEP]'], test_texts))

len(train_tokens), len(test_tokens)

In [ ]:
train_tokens[0]

- 이제 data를 train_tokens_ids, padding 등의 작업
- 정답 레이블이 string이기 때문 이를 변환
- mask 작업 등...


### Bert Model 설정

### Fine-tune BERT
#### Train

In [ ]:
device =

In [ ]:
BATCH_SIZE = 4
EPOCHS = 10

#### Test
- test 성능 출력

##  XLNet

## RoBERTa

## DistilBERT